{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "@vue/prettier",
    "plugin:vue/essential"
  ],
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "plugins": [
    "prettier",
    "vue"
  ],
  "rules": {
    "prettier/prettier": "warn"
  }
}