@import url("https://fonts.googleapis.com/css?family=Muli");

$base-font: "Muli", sans-serif;
$bg-colour: #333;
$fg-colour: #eee;
$accent-colour: burlywood;
$box-shadow: 1px 1px 10px #222;

button {
  color: $accent-colour;
  background: lighten($bg-colour, 7%);
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.1s;
  outline: none;
  padding: 5px;
  &.rounded {
    background: none;
    border-radius: 50%;
    border: none;
  }
  &:active {
    background-color: #666;
  }
  &:focus {
    border: lighten($bg-colour, 15%) dashed 2px;
  }
}
code {
  background: lighten($bg-colour, 15%);
  border-radius: 4px;
  padding: 4px;
  line-height: 1.75em;
}

.bottom-tools {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
// .tippy-tooltip {
//   background-color: #444;
//   font-family: $base-font;
//   padding: 15px;
//   a {
//     color: $fg-colour;
//     text-decoration-style: dashed;
//   }

//   user-select: none;
// }
// .tippy-popper[x-placement^="bottom"] .tippy-arrow {
//   border-bottom-color: #444;
// }
// .tippy-popper[x-placement^="top"] .tippy-arrow {
//   border-top-color: #444;
// }
